

<div class="container">
  <div><h2 center>Stupid coaching</h2>  </div>
    <form action="/answer" method="GET">
        <label for="ask">Ask your coach anything:</label><br>
        <input type="text" class="form-control" id="ask" name="question" placeholder="Ask here your question?"><br>
        <input type="submit" class="btn custom-submit" value="Ask!">
    </form>
</div>
